.film{
    width: 250px;
    font-family: HelveticaNeueCyr, sans-serif;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.film-img{
    height: 220px;
    width: 250px;
    object-fit: cover;
}
.film-short-info{
    height: 80px;
    display: inline-block;
}
.film-title{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;

}
.film-genres{
    font-size: 11px;
    color: #3bb4e0;
    font-weight: 500;
}
.film-rating{
    display: inline-block;
    padding: 1px 5px;
    border: 1px solid #3bb4e0;
    color: #3bb4e0;
    font-size: 12px;
    border-radius: 5px;
}