.filter{
    border-bottom:  1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
}
.filter-grid-square{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.square-item{
    display: inline-block;
    min-width: 6px;
    height: 5px;
    background-color: #60c1e4;
    /*margin-right: 3px;*/
    border-radius: 1px;
}

.filter-grid-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 15px;
    height: 15px;
}
.row-item{
    display: inline-block;
    width: 100%;
    height: 5px;
    background-color: #d6d8d8;
    /*margin-right: 3px;*/
    border-radius: 1px;
}