.cell{
    width: 50px;
    height: 50px;
    border: 1px solid #000000;
    border-radius: 10px;
}
.cell.active{
    background-color: #0093ff;
}
.cell.losing{
    background-color: #ff2900;
}
.cell.win{
    background-color: #00ff35;
}

.btn-lvl{
    border-radius: 5px;
    background-color: #00f7ff;
    border: 2px solid #005152;
}
.btn-lvl.active{
    background-color: #fff942;
}