@font-face {
    font-family: "Verdana";
    src: url("../fonts/Verdana.ttf");
}
.container {
    width: 1200px;
    margin: 0 auto;
}

.text-colored {
    color: #3cb878;
}
.clear-fix::after{
    content: '';
    display: table;
    clear:both;
}

.bg-img {
    background-image: url("../img/bg-img.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/*HEADER SECTION*/

.header {
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    height: 56px;
    line-height: 56px;
}

.header-title {
    float: left;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-family: "Verdana", sans-serif;
    font-size: 20px;
    font-weight: bold;
    vertical-align: middle;
}
.header-title:hover {
    color: #3cb878;
}

.header-autorization {
    float: right;
    color: #ffffff;
    font-size: 14px;
    font-family: "Verdana", sans-serif;
    line-height: 56px;
}

.header-icon {
    display: inline-block;
    margin-right: 28px;
    vertical-align: middle;
    background: url("../img/css_sprites.png");
}

.ic-caledar {
    width: 19px;
    height: 19px;
    background-position: -121px -10px;
}
.ic-caledar:hover {
    background-position: -82px -10px;
}



.ic-forum {
    width: 28px;
    height: 20px;
    background-position: -285px -10px;
}
.ic-forum:hover {
    background-position: -333px -10px;
}

.ic-journey {
    width: 20px;
    height: 20px;
    background-position: -160px -10px;
}

.ic-journey:hover {
    background-position: -200px -10px;
}
.ic-line-header {
    width: 1px;
    height: 19px;
    background-position: -31px -10px;
    opacity: 0.3;
}

.header-autorization-text{
    vertical-align: middle;
}

.header-log-in {
    text-decoration: none;
}

.header-log-in:hover {
    border-bottom: 1px solid #3cb878;
}

/*FORM SECTON*/


.border {
    box-sizing: border-box;
    width: 444px;
    background-color: #ffffff;
    padding: 30px 60px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 56px));

}
.green-block {
    height: 18px;
    width: 18px;
    background-color: #3cb878;
    position: absolute;
    left: 0;
    top: 32px;
}

.border-header-link {
    margin-bottom: 15px;
    line-height: 20px;
}

.form-sing-up {
    float: left;
    color: #434343;
    font-size: 20px;
    text-transform: capitalize;
    font-family: "Verdana", sans-serif;
    vertical-align: middle;
    text-decoration: none;
}

.form-log-in {
    box-sizing: border-box;
    float: right;
    font-size: 14px;
    text-transform: capitalize;
    font-family: "Verdana", sans-serif;
    vertical-align: middle;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
}

.form-log-in:hover {
    border-bottom: 1px solid #3cb878;
}

.loginBtn {
    display: inline-block;
    width: 156px;
    height: 46px;
    border-radius: 3px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-family: "Verdana", sans-serif;
    line-height: 44px;
    margin-bottom: 33px;
}

.fa-facebook-f {
    font-size: 20px;
    margin-left: 15px;

}

.fa-google-plus-g {
    font-size: 18px;
    margin-left: 15px;
    vertical-align: middle;
}

.ic-line-form-facebook {
    display: inline-block;
    width: 1px;
    height: 28px;
    background: url("../img/css_sprites.png") -10px -10px;
    opacity: 0.1;
    vertical-align: middle;
    margin-left: 10px;
}

.ic-line-form-google {
    display: inline-block;
    width: 1px;
    height: 28px;
    background: url("../img/css_sprites.png") -10px -10px;
    opacity: 0.1;
    vertical-align: middle;
    margin-left: 4px;
}

.loginBtn-facebook-text {
    margin-left: 13px;

}

.loginBtn-google-text {
    margin-left: 15px;

}

.loginBtn-facebook {
    background-color: #305db8;
    margin-right: 8px;
}

.loginBtn-google {
    background-color: #df4a32;
}

.form-hr-or {
    display: inline-block;
    color: #848484;
    font-size: 14px;
    font-family: "Verdana", sans-serif;
    vertical-align: middle;
    margin-bottom: 18px;
}

.form-hr-or::before {
    content: "";
    display: inline-block;
    height: 1px;
    width: 135px;
    border-top: 1px solid #eaeaea;
    vertical-align: middle;
    margin-right: 14px;
}

.form-hr-or::after {
    content: "";
    display: inline-block;
    height: 1px;
    width: 135px;
    border-top: 1px solid #eaeaea;
    vertical-align: middle;
    margin-left: 14px;
}

.form-field {
    box-sizing: border-box;
    width: 322px;
    height: 46px;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    padding: 18px;
    font-size: 14px;
    color: #bebebe;
    text-transform: capitalize;
    font-family: "Verdana", sans-serif;
    margin-bottom: 9px;

}
.form-field:focus {
    outline: none;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0 , 0.2);
    margin-bottom: 17px;
}

.checkbox {
    position: absolute;
    opacity: 0;
    margin-bottom: 25px;
}

.checkbox + label {
    display: block;
    font-size: 14px;
    color: #434343;
    font-family: "Verdana", sans-serif;
    position: relative;
    padding: 0 0 0 30px;
    margin-bottom: 25px;
    margin-top: 22px;
}

.checkbox + label::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #eaeaea;
    border-radius: 4px;

}
.checkbox + label::after {
    content: "";
    position: absolute;
    left: 8px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid #3cb878;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    display: none;
}

.checkbox:checked + label::after {
    display: inline-block;
}

.form-terms-conditions {
    text-decoration: none;
}

.form-submit {
    width: 322px;
    height: 46px;
    text-transform: capitalize;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    font-family: "Verdana", sans-serif;
    background-color: #3cb878;
    vertical-align: center;
    border: none;
    border-radius: 3px;
}