.btn {
    border: none;
    border-radius: 4px;
    padding: 7px 25px;
    font-family: "HelveticaNeueCyr", sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
}
.btn-primary{
    background-color: #0aaee4;
}
.btn-light{
    background-color: transparent;
}
.btn-dropdown{
    padding: 0;
    width: 10px;
    height: 25px;
    background-image: radial-gradient(circle at center, white 2px, transparent 1px);
    background-size: 8px 8px;
}
.btn-filter{
    color: #3bb4e0;
    font-size: 14px;
    font-weight: 600;
    padding: 0;
    margin-right: 22px;

}
.btn-filter:hover{
    color: #3bb4e0;
    font-weight: 800;
    border-radius: 0;
    padding-bottom: 2px;
    border-bottom: 2px solid #0aaee4;
}