
.bg-color {
    position: relative;
    background-color: #000000;
    perspective: 100px;
    transform-style: preserve-3d;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.star-wars {
    position: absolute;
    top: 0;
    right: 50%;
    width: 55%;
    height: 100vh;
    padding: 0 50px;
    animation: star-wars 30s infinite;
}

@keyframes star-wars {
    from {
        transform: translate3d(50%, 550%, 0px) rotateX(12deg) scale(5);
    }
    to {
        transform: translate3d(50% , -100%, -200px) rotateX(12grad);
    }
}

.title {
    /*transform:  rotateX(15grad);*/
    font-size: 3.5vw;
    color: #ffa322;
    font-family: sans-serif;
    transform-style: preserve-3d;
    text-align: center;
    margin-bottom: 50px;
}

.main-title {
    font-size: 4vw;
    color: #ffa322;
    font-family: sans-serif;
    transform-style: preserve-3d;
    text-align: center;
    margin-bottom: 50px;

}

.text {
    font-size: 3vw;
    color: #ffa322;
    margin-bottom: 50px;
    font-family: sans-serif;
    transform-style: preserve-3d;
    line-height: 1.5;
}