html, body{
    padding: 0;
    margin: 0;
}

.conteiner{
    width: 1100px;
    margin: 0 auto;
}
.header-menu{
    padding: 34px;
    text-align: center;

}
.header-menu-link{
    display: inline-block;
    text-transform: uppercase;
    font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 900;
    font-size: 18px;
    margin: 0 40px;
    color: #16a085;
    text-decoration: none;
    letter-spacing: 2px;
}
.main-content{
    background-color: #f5f6f7;
    padding-bottom: 94px;
}
.main-content-photo{
    width: 100%;
    height: 100%;
    margin-bottom: 56px;
}
.main-content-title{
    text-transform: uppercase;
    font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 22px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 22px;
    letter-spacing: 2px;
}
.main-content-text{
    font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 26px;

}
/*first way to create button with hiper-link*/
.main-content-conteiner-link{
    text-align: center;
    margin-top: 42px;
}
.main-content-link{
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #ffffff;
    background-color: #16a085;
    padding: 20px 50px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 900;
    letter-spacing: 2px;
}
/*second way to create button with hiper-link*/
/*.main-content-form{*/
/*    text-align: center;*/
/*    margin-top: 42px;*/
/*}*/
/*.main-content-button{*/
/*    text-transform: uppercase;*/
/*    text-align: center;*/
/*    font-size: 12px;*/
/*    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;*/
/*    padding: 20px 50px;*/
/*    background-color: #16a085;*/
/*    font-weight: 600;*/
/*    color: #ffffff;*/
/*    border-radius: 5px;*/
/*    border-style: none;*/
/*}*/

.copyright-text{
    font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 900;
    text-align: right;
    margin: 44px;
    letter-spacing: 2px;
}



