.search-form {
    /*position: relative;*/
    width: 35px;
    height: 35px;
    background: transparent;

}

.search-input {
    height: 100%;
    width: 0;
    padding: 0 35px 0 15px;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    background: transparent;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    color: #ffffff;
}

.search-input:focus {
    width: 300px;
    z-index: 1;
    border: 2px solid #F9F0DA;
}

.search-submit {
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0px;*/
    width: 35px;
    height: 35px;
    border: none;
    color: #ffffff;
    /*background: #171a1c;*/
    cursor: pointer;
    background: transparent;
}
