
.header{
    /*background-image: url(HeaderBG);*/
    /*background-color: #7f7f7f;*/
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    position: relative;
    padding: 20px 70px;
}
.header::before{
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}
.header::after{
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 150px;
    width: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}