@font-face {
    src: url("../fonts/Verdana.ttf");
    font-family: "Verdana";
}

.container {
    width: 1064px;
    margin: 0 auto;
    font-family: "Verdana", sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear:both;
}

.bg-img {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 50px;
    padding-bottom: 20px;
    width: 100%;
    height: 100%;
    background-image: url("../img/bg-img.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-img::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.6)
}

/*HEADER SECTION*/

.header {
    margin-bottom: 44px;
}

.header-logo
 {
    float: left;
    color: #ffffff;
    text-decoration: none;
}

.header-logo:hover {
    color: #f26522;
    margin-right: 56px;
}

.header-logo::before{
    content: '';
    display: inline-block;
    background-image: url("../img/header-logo.png");
    width: 46px;
    height: 44px;
    margin-right: 10px;
}

.header-logo:hover::before {
    background-image: url("../img/header-logo_orange.png");
}

.header-logo-title-milan {
    display: inline-block;
    text-transform: uppercase;
    font-size: 29px;
    line-height: 21px;
    font-weight: bold;
}

.header-logo-title-holidays {
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

.header-contact {
    float: right;
    text-align: right;
    font-size: 18px;
    margin-top: 8px;
}

.header-contact-email-adress {
    color: #ffffff;
    line-height: 21px;
}

.header-contact-tel {
    color: #ffffff;
}

/*MAIN CONTENT SECTION*/

.content-box {
    float: left;
    position: relative;
    margin-right: 65px;
    margin-bottom: 56px;
    text-align: center;
    text-decoration: none;
}

.content-box:nth-child(3n){
    margin-right: 0;
}

.content-img {
    border: 2px solid;
    border-image-source: linear-gradient(to bottom, rgb(255, 255, 255), rgba(246, 253, 255, 0));
    border-image-slice: 1;
    margin-bottom: 18px;
}

.content-description {
    font-size: 18px;
    color: #ffffff;
}

.content-block-info {
    position: absolute;
    display: block;
    bottom: 39px;

    background-color: #f26522;
    color: #ffffff;
    transform: scaleY(0);
    transform-origin: 0 bottom;
    transition: 0.4s ease-in-out;
    box-sizing: border-box;
    padding: 16px 16px 16px 20px;
    height: 63px;
    width: 311px;
}

.content-box:hover .content-block-info {
    opacity: 1;
    transform: scaleY(1);
}
.content-box:hover .content-description {
    color: #f26522;
}

.content-block-info-desc {
    display: block;
    text-align: left;
    font-size: 10px;
    margin-bottom: 7px;

}

.content-block-info-price {
    float: left;
    /*margin-left: 22px;*/
    font-size: 20px;
}

.content-block-info-price::before {
    content: "\20AC";
}

.content-block-info-view-details{
    float: right;
    margin-top: 4px;
    text-transform: capitalize;
    font-size: 14px;
}

.content-block-info-view-details::after {
    content: '';
    display: inline-block;
    background-image: url("../img/content-block-arrow.png");
    width: 7px;
    height: 10px;
    margin-left: 16px;
    opacity: 0.5;
}

/*FOOTER SECTION*/

.footer {
    text-align: center;
    /*margin-bottom: 20px;*/
}
.footer-copyright {
    color: #ffffff;
    font-size: 12px;
}