.instagram-shot{
  display: none;
  width: 100%;
  //height: 301px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &.d-small{
    display: block;
  }
  @media screen and (min-width: 550px){
    width: 48%;
    margin-right: 10px;
    &.d-middle{
      display: block;
      margin-right: 0;
    }
  }
  @include tablet{
    width: 32%;
    &.d-middle{
      margin-right: 10px;
    }
    &.d-big-middle{
      display: block;
      margin-right: 0;
    }
  }
  @include desktop{
    width: 24%;
    &.d-big-middle{
      margin-right: 10px;
    }
    &.d-big{
      display: block;
      margin-right: 0;
    }

  }
}

