.post{
  width: 100%;
  @include flex;
  margin-bottom: 30px;
  &-img{
    width: 160px;
    height: 140px;
    object-fit: cover;
    margin: 0 20px 24px 0;
  }
  &-desc{
    &-title{
      font-size: 14px;
      font-family: Roboto, sans-serif;
      font-weight: bold;
      color: $text-color;
      margin-bottom: 10px;
      @include tablet{
        font-size: 16px;
      }
    }
    &-text{
      display: none;
    }
    &-info{
      font-size: 11px;
      font-family: Roboto, sans-serif;
      font-weight: normal;
      color: $small-text-color;
      margin-bottom: 10px;
    }
  }

  @include tablet{
    &-desc{
      width: calc(100% - 185px);
      &-title{
        width: 100%;
      }
      &-info{
        width: 100%;
      }
      &-text{
        display: block;
        font-size: 14px;
        line-height: 26px;
        font-family: Roboto, sans-serif;
        font-weight: normal;
        color: $text-color;
        width: 80%;
      }
    }
  }
  @include desktop{
    width: 48%;
    margin-right: 30px;
    &:nth-child(2n+1){
      margin-right: 0;
    }
    &-desc{
      &-text{
        width: 100%;
      }
    }
  }
}