.social-icon{
  height: 34px;
  width: 34px;
  @include flex-center;
  border: 2px solid #ff00bb;
  border-radius: 50%;
  margin-right: 6px;
  font-size: 12px;
  &:last-child{
    margin-right: 0;
  }
  &--orange{
    border-color: #F8902E;
    color: #f8902e;
  }
  &--dark-blue{
    border-color: #39599F;
    color: #39599F;
  }
  &--blue{
    border-color: #45B0E3;
    color: #45B0E3;
  }
  &--pink{
    border-color: #D97AB0;
    color: #D97AB0;
  }
  &--red{
    border-color: #CC212C;
    color: #CC212C;
  }
}