.title{
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  color: $text-color;
  font-size: 14px;
  margin-bottom: 24px;
  width: 100%;
  @include tablet{
    font-size: 16px;
  }
  &--colored{
    color: #ffffff;
    text-align: center;
  }
  &--instagram{
    width: auto;
  }
}
