.drop-container {
    float: left;
    width: 30%;
    min-height: 300px;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 20px;
    padding: 20px;
    position: relative;
}

.case-list {
    list-style: none;
    padding: 100px;
    background-color: #909090;
}

.case-item {
    border: 1px solid darkgrey;
    font-size: 20px;
    padding: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}
.case-title{
    text-transform: uppercase;
    font-size: 30px;
    color: #184251;
    max-width: 100%;
}
.case-text{
    border: none;
    width: 100%;
}

.add-case{
    border:none;
    border-radius: 5px;
    position: absolute;
    bottom: 15px;

}
.btn-add-column{
    text-decoration: none;
    font-size: 20px;
    color: #184251;
    padding: 10px;
    border: 1px solid #0c1927;
    border-radius: 5px;
}

.filter-alphabet{
    text-decoration: none;
    font-size: 20px;
    color: #184251;
    padding: 10px;
    border: 1px solid #0c1927;
    border-radius: 5px;
}