
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800|Roboto:300,400,400i,500,700,900&display=swap');

.container {
    width: 1020px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
    height: 100%;
}
.flex-space-between{
    justify-content: space-between;
}
.flex-justify-center{
    justify-content: center;
    justify-items: center;
}
.flex-align-center{
    align-items: center;
    align-content: center;
}
.flex-direction{
    flex-direction: column;
}

.text-colored {
    color: #14afca;
    font-weight: 700;
}
.text-colored-grey{
    color: #424f57;
}

.triangle-left{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 0;
    border-left: 50vw solid #ffffff;
    border-top: 5vw solid transparent;
}
.triangle-right{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 0;
    width: 0;
    border-right: 50vw solid #ffffff;
    border-top: 5vw solid transparent;
}
.triangle {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    border-top: 5vw solid #ffffff;
    border-right: 50vw solid transparent;
    border-left: 50vw solid transparent;
}

.section-title {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 30px;
}
.section-desc {
    font-size: 18px;
    color: #424f57;
    font-family: "Open Sans SemiBold", sans-serif;
    text-align: center;
    margin-bottom: 50px;
}


/*HEADER SECTION*/


.header {
    padding-top: 33px;
    width: 100%;
    height: 600px;
    position: relative;
    background-blend-mode: multiply;
    background-image:  url("../img/bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0 ,0, 0.7);
}

.header-navbar {
    padding: 38px 0;
    background-color: #ffffff;
}

.header-logo{
    font-size: 36px;
    text-decoration: none;
    color: #424f57;
    font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.navbar-item {
    margin-right: 60px;
    font-size: 15px;
    font-family: "Open Sans",sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.navbar-item:last-child{
    margin-right: 0;
}

.header-title {
    text-transform: uppercase;
    font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 52px;
    font-weight: 700;
    line-height: 75px;
    text-align: center;
    color: #ffffff;
    transform: translateY(-76px);
}
/*WHAT SECTION*/
.section-what {
    text-align: center;
    height: 500px;
}

.what-text {
    font-size: 16px;
    line-height: 30px;
    color: #424f57;
    font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/*COMPANIES SECTION*/
.companies {
    height: 720px;
    padding: 5vw;
    position: relative;
    background-blend-mode: multiply;
    background-image:  url("../img/bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0 ,0, 0.8);
}

.companies-container-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

/*MEET US SECTION*/

.meet-us {
    height: 680px;
}
.meet-us-item {
    width: 280px;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    color: #424f57;
    font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/*TESTIMONIALS SECTION*/

.testimonials {
    height: 580px;
    padding: 5vw;
    position: relative;
    background-blend-mode: multiply;
    background-image:  url("../img/bg3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0 ,0, 0.8);
}
.testimonial-text {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.05em;
    color: #d3cccc;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
}
.testimonial-desc {
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
    text-align: right;
    font-family: "Open Sans SemiBold", sans-serif;
    font-style: italic;
    align-self: flex-end;
    margin-right: 90px;
}

/*WHY SECTION*/
.why {
    height: 440px;
}

.why-text {
    font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #424f57;
    line-height: 48px;
}
.why-footer {
    font-family: "Open Sans", sans-serif;
    line-height: 24px;
    color: #3d3c3c;
    text-align: center;
    padding-bottom: 100px;
}
.why-footer-desinge-name {
    font-weight: 700;
}