

.bg-color {
    background-color: #3a4965;
    height: 100vh;
    position: relative;
}

.table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*TABLE HEAD SECTION*/

.table-head-row {
    min-height: 112px;
    height: 112px;
    background-color: #fafafa;
    font-size: 20px;
    color: #484848;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Arimo", sans-serif;
}

.table-head-first-cell {
    vertical-align: middle;
    min-width: 198px;
    width: 198px;
}
.head-first-cell-text {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.table-head-cell {
    vertical-align: middle;
    min-width: 157px;
    width: 157px;
}
.table-head-cell:nth-child(even) {
    background-color: #e3e3e3;
}

.fas {
    display: block;
    font-size: 22px;
    margin-bottom: 10px;
}
.far {
    display: block;
    font-size: 22px;
    margin-bottom: 10px;
}

/*TABLE BODY SECION*/

.table-body-row {
    font-family: "Arimo", sans-serif;
    font-size: 16px;
    color: #484848;
    text-transform: uppercase;
    min-height: 166px;
    height: 166px;
    background-color: #fafafa;

}

.cell-bg-green {
    background-color: #89c331;
}

.cell-bg-red {
    background-color: #f04a56;
}

.cell-bg-blue {
    background-color: #20807c;
}

.table-body-cell-price {
    vertical-align: middle;
    min-width: 198px;
    width: 198px;
    color: #ffffff;
    text-align: center;
    box-shadow: inset 0px 4px 4px -4px rgba(0, 0, 0, 0.4);
    padding: 15px 0;
}
.cell-title {
    display: inline-block;
    font-size: 24px;
    text-align: center;
    margin-bottom: 18px;
}
.cell-price {
    display: inline-block;
    font-size: 36px;
    margin-bottom: 18px;
}
.cell-price-sup {
    font-size: 18px;
    vertical-align: super;
}
.cell-price::after {
    content: "per month";
    font-size: 14px;
    margin-left: 8px;
    vertical-align: middle;
}

.bnt-buynow {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    line-height: 41px;
    vertical-align: middle;
    text-align: center;
    background-color: #414141;
    height: 41px;
    width: 144px;
    box-sizing: border-box;
    border-radius: 5px;
    border-bottom: 5px solid rgba(0, 0, 0, 0.2);
}

.table-body-cell {
    vertical-align: middle;
    min-width: 157px;
    width: 157px;
    box-shadow: inset 0px 4px 4px -4px rgba(0, 0, 0, 0.4);

}
.table-body-cell:nth-child(even) {
    background-color: #e3e3e3;
}

.text-cell {
    display: block;
    text-align: center;
}

.text-cell:first-child {
    margin-bottom: 7px;
}