.grid {
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.5vw;
    grid-template-areas:
            "item11 item11 item11 item5"
            "item4 item6 item12 item8"
            "item9 item10 item1 item7"
            "item3 item3 item2 item2"
}

.grid > div {
    font-size: 5vw;
    padding: .5em;
    background: green;
    text-align: center;
}

.item1 {
    grid-area: item1;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
}

.item4 {
    grid-area: item4;
}

.item5 {
    grid-area: item5;
}

.item6 {
    grid-area: item6;
}

.item7 {
    grid-area: item7;
}

.item8 {
    grid-area: item8;
}

.item9 {
    grid-area: item9;
}

.item10 {
    grid-area: item10;
}

.item11 {
    grid-area: item11;
}

.item12 {
    grid-area: item12;
}