
/*CLASSES OF COLOR HEADER AND FOOTER SECTION*/
.thead-cell.bg-color-green {
    color: #ffffff;
    background-color: #89c331;
}

.thead-cell.bg-color-red {
    color: #ffffff;
    background-color: #f04a56;
}

.thead-cell.bg-color-blue {
    color: #ffffff;
    background-color: #20807c;
}

.bg-color-green {
    color: #ffffff;
    background-color: #89c331;
}
.bg-color-red {
    color: #ffffff;
    background-color: #f04a56;
}

.bg-color-blue {
    color: #ffffff;
    background-color: #20807c;
}

.bg-color {
    background-color: #3a4965;
    height: 100vh;
    position: relative;
}

 /*CLASS FOR THE SHADOW LEFT BORDER CELL*/
.box-shadow {
    box-shadow: inset 4px 0px 4px -4px rgba(0, 0, 0, 0.3);
}

.width-first-col {
    min-width: 310px;
    width: 310px;
}

/*ABOUT ALL TABLE SECTION*/

.table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*TABLE HEADER SECTION*/

.thead-first-row {
    min-height: 69px;
    height: 69px;
    background-color: #fafafa;
}

.thead-second-row {
    min-height: 86px;
    height: 86px;
}
.thead-cell {
    min-width: 222px;
    width: 222px;
    background-color: #fafafa;
    font-size: 24px;
    color: #484848;
    text-transform: uppercase;
    font-family: "Arimo", sans-serif;
    font-weight: 700;
    vertical-align: middle;
    text-align: center;
}

.font-size-ultimate {
    font-size: 30px;
}

.thead-first-cell-text {
    display: block;
    font-size: 18px;
}

.thead-first-cell-title {
    display: block;
    font-size: 30px;
}

.price::before {
    content: "\0024";
}

.price {
    font-size: 60px;
    margin-left: 33px;
}

.price-sup {
    vertical-align: super;
    font-size: 24px;
}

.price::after {
    content: "per month";
    font-size: 18px;
    font-weight: 400;
    position: relative;
    right: 33px;
}

/*TABLE FOOTER SECTION*/

.table-foot-cell {
    min-height: 110px;
    min-width: 277px;
    height: 110px;
    width: 277px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Arimo", sans-serif;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    background-color: #eeeeee;
}

.bottom-left-cell {
    background-color: #dddddd;
    min-width: 310px;
    width: 310px;
}

.table-btn {
    display: inline-block;
    position: relative;
    height: 49px;
    width: 192px;
    text-decoration: none;
    color: #ffffff;
    /*background-color: #ff9232;*/
    line-height: 49px;
    vertical-align: middle;
    border-radius: 5px;
}
.table-btn:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 192px;
    height: 9px;
    border-radius: 0 0 5px 5px;
    background-color: rgba(0, 0, 0, 0.2);
}

.color-btn {
    background-color: #484848;
}

/*TABLE BODY SECTION*/

.table-row{
    background-color: #f2f2f2;
    line-height: 69px;
    height: 69px;
}
.table-row:nth-child(2n) {
    background-color: #e3e3e3;
}

.table-cell {
    min-height: 69px;
    min-width: 277px;
    width: 277px;
    /*border: 1px solid #000;*/
    text-transform: uppercase;
    font-size: 16px;
    color: #484848;
    font-family: "Arimo", sans-serif;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
}

.fas {
    font-size: 24px;
    margin-right: 14px;
    vertical-align: middle;
}

.far {
    font-size: 24px;
    margin-right: 14px;
    vertical-align: middle;
}


