.footer{
  background-color: #000000;
  padding: 40px 0;
  &-content{
    @include flex-center;
    &-text{
      font-size: 12px;
      color: #b9b9b9;
      line-height: 28px;
      font-family: Roboto, sans-serif;
      text-align: center;
      width: 100%;
      margin-bottom: 26px;
      @include tablet{
        font-size: 16px;
        width: 684px;
      }
    }
    &-social{
      @include flex-center;
      width: 100%;
      margin-bottom: 25px;
    }
    &-contact{
      width: 100%;
      @include flex-center;
      &-item{
        font-size: 14px;
        color: #b9b9b9;
        font-family: Roboto, sans-serif;
        text-align: center;
        width: 100%;
        margin-bottom: 14px;
        @include tablet{
          width: auto;
          font-size: 16px;
          margin-bottom: 0;
          margin-right: 3px;
        }
      }
    }
  }
}
