.header{
  &-img{
    width: 100%;
    height: 150px;
    background-image: url("../img/header-bg.png");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  margin-bottom: 42px;
  @include tablet{
    &-img{
      height: 360px;
    }
  }
  @include desktop{
    &-img{
      height: 550px;
    }
  }
}
