.instagram-shots{
  background-color: #F7F7F7;
  padding: 42px 0;
  &-content{
    @include flex-between;
  }
  &-wrapper{
    @include flex-center;
    width: 100%;
    padding: 0 25px;
    @include tablet{
      padding: 0;
    }
  }
  &-link{
    display: none;
    font-size: 14px;
    color: $text-color;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    margin-bottom: 24px;
    @include tablet{
      display: block;
    }
  }
}




