.navbar{
  margin: 25px 0;
  @include flex-end;
  position: relative;

  &-toggler{
    width: 44px;
    height: 37px;
    box-sizing: border-box;
    background-color: #000000;
    border: none;
    @include flex-center;
    &-line{
      background-color: #ffffff;
      width: 17px;
      height: 2px;
      margin-bottom: 2px;
    }
    &.toggle{
      .navbar-toggler-line{
        &:nth-child(1n){
          transform: translateX(-13%) rotate(45deg) translateX(17%) ;
        }
        &:nth-child(2n){
          transform: translateX(-13%)rotate(-45deg) translateX(17%);
        }
        &:nth-child(3n){
          display: none;
        }
      }
    }
  }
  &-nav{
    display: none;
    &-item{
      //font-size: 11px;
      //font-family: Roboto, sans-serif;
    }
    &-link{
      font-size: 11px;
      color: $text-color;
      font-family: Roboto, sans-serif;
      padding: 10px 13px;
      text-decoration: none;
      display: block;
      background-color: #ffffff;
      border-bottom: 2px solid #F5F5F5;
      @include links($text-color, #57A4A4, #57A4A4)
    }
    &.toggle{
      display: block;
      position: absolute;
      bottom: -100%;
      //right: 0;
      transform: translateY(182px);
      width: 182px;
      height: 208px;
      .navbar-nav{
        @include flex-center;
      }
    }
  }
}

@include tablet{
  .navbar {

    @include flex-center;
    &-toggler {
      display: none;
    }

    &-nav {
      display: block;
      @include flex-center;
      margin: 35px 0;
      &-item{
        margin-right: 20px;
      }
      &-link{
        border: none;
      }
    }
  }
}


