.container {
    width: 1280px;
    margin: 0 auto;
    font-family: "Myriad Pro", sans-serif;
}

.text-colored {
    color: #4bcaff;
}


/*HEADER SECTION*/

.header {
    padding-top: 61px;
}

/*LOGO SECTION*/

.header-logo {
    margin-bottom: 45px;
}

.header-logo-link {
    text-decoration: none;
    font-size: 80px;
    color: #000000;
    /*font-family: "Myriad Pro", sans-serif;*/
}

/*NAVBAR SECTION*/

.navbar {
    margin-bottom: 45px;
}

.navbar-list {
    background-color: #35444f;
    text-align: center;
    font-size: 0px;
    /*padding: 24px 0;*/
    color: #ff0000aa;
}

.navbar-item {
    display: inline-block;

}

.navbar-link {
    display: inline-block;
    text-decoration: none;
    font-size: 24px;
    color: #ffffff;
    padding: 24px 40px;
    border-left: 1px  solid #35444f;
    border-right: 1px solid #35444f;
}

.navbar-link:hover {
    background-color: #222f3a;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
    transition: 0.4s;
}

/*MAIN CONTENT*/

.main-content {
    margin-bottom: 36px;

}

/*LEFT NAVBAR SECTION*/

.left-navbar {
    display: inline-block;
    vertical-align: top;
    width: 340px;
    height: 395px;
    border: 1px solid #000;
}

.left-navbar-list {
    /*margin-left: 42px;*/
}

.left-navbar-item {
    /*padding: 27px 0;*/
    /*padding-left: 40px;*/
    vertical-align: center;
}

.left-navbar-link {
    display: block;
    text-decoration: none;
    font-size: 27px;
    color: #495863;
    padding: 26px 40px;

}
/*.left-navbar-item:hover {*/
/*    ;*/
/*    !*color: #000000;*!*/
/*}*/

.left-navbar-link:hover {
    color: #000000;
    transition: 0.4s;
    padding-left: 68px;
    background-color: #dbdbdb;
 }

/*MAIN CONTENT SECTION*/

.main-content-box {
    display: inline-block;
    width: 880px;
    margin-left: 52px;
}

.main-content-img-container {
    border: 1px solid #000;
    box-sizing: border-box;
    /*height: 530px;*/
    margin-bottom: 51px;
    text-align: center;
    /*padding: 75px 0;*/
}

.main-content-img {
    display: inline-block;
    margin: 75px 0;



}
.main-content-img:hover {
    transform: scale(1.3, 1.3);
    transition: 0.8s;
}

.main-content-text-container {
    margin: 0 20px ;
}

.main-content-text {
    line-height: 24px;
    font-size: 18px;
    margin-bottom: 25px;
}

/*FOOTER SECTION*/

.footer {
    padding: 22px 0;
    background-color: #b4b7ba;
    margin-bottom: 30px;
    height: 70px;
    box-sizing: border-box;
    vertical-align: center;
}

.footer-navbar {
    display: inline-block;
}

.footer-navbar-list {
    margin-left: 40px;
}

.footer-navbar-item {
    display: inline-block;
    margin-right: 10px;
}

.footer-navbar-link{
    text-decoration: none;
    font-size: 28px;
    color: #0c1927;

}
.footer-navbar-link:hover {
    color: #3181a6;
    /*text-decoration: underline;*/
    /*USE BORDER BOTTOM FOR CREATED UNDERLINE DOWN*/
    padding-bottom: 3px;
    border-bottom: 1px solid #3181a6;
    transition: 0.4s;
}

.footer-copyright {
    margin-left: 170px;
    margin-right: 20px;
    display: inline-block;
    font-size: 24px;
}





