.container{
    margin: 0 auto;
    min-width: 600px;
    max-width: 1000px;
    background-color: #c1c1c1;
    padding: 50px;
    position: relative;
}

.post{
    background-color: #ffebca;
    border: 1px solid #3cb878;
    width: 70%;
    margin: 0 auto 20px;
    padding: 20px;
}
.post-author{
    display: block;
    margin: 10px;
}

.post-email{
    display: block;
    margin: 10px;
}

.post-title{
    display: block;
    width: 100%;
    margin: 10px;
}
.post-text{
    display: block;
    width: 100%;
    margin: 10px;
}
.btn-creat-post{
    position: absolute;
    left: 20px;
    top: 20px;
    border: 2px solid #00cbf6;
    text-decoration: none;
    color: #00cbf6;
    padding: 5px;
    background-color: #3e4b53;
    border-radius: 5px;
}