@mixin linkBtn {
    display: inline-block;
    text-decoration: none;
}

@mixin flex {
    display: flex;
    flex-wrap: wrap;
}
@mixin flex-column{
    @include flex;
    flex-direction: column;
}

@mixin flex-center {
    @include flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-between {
    @include flex;
    justify-content: space-between;
    align-items: center;
}
@mixin flex-around{
    @include flex;
    justify-content: space-around;
    align-items: center;
}
@mixin flex-start {
    @include flex;
    justify-content: flex-start;
    align-items: flex-start;
}
@mixin flex-end {
    @include flex;
    justify-content: flex-end;
    align-items: center;
}


@mixin desktop {
    @media screen and (min-width: $desktop){
        @content;
    }
}
@mixin tablet{
    @media screen and (min-width: $tablet){
        @content;
    }
}

@mixin links ($link, $hover, $active) {
    & {
        color: $link;
        &:hover {
            color: $hover;
        }
        &:active, &:focus {
            color: $active;
        }
    }
}

