@import "reset";
@import "variables";
@import "mixin";
@import "sections/sections";
@import "components/components";

.container {
    width: 100%;
    min-width: 320px;
    padding: 0 25px;
    height: 100%;
}
@include tablet {
    .container{
        max-width: $tablet;
        margin: 0 auto;
    }
}
@include desktop{
    .container{
        max-width: $desktop;
        margin: 0 auto;
        padding: 0;
    }
}

